<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

    <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />
    <title>{{ title }}</title>
  </head>

  <body>
    <header class="nav-bar">
      <div class="nav-content">
        {% include 'navbar.html' %}
      </div>
    </header>

    <div class="profile">
      <div id="profile-picture" class="profile-picture">
        <img src="../static/img/your_photo.png" alt="Your Photo" />
      </div>
      <h1>{{ title }}</h1>
    </div>

    {% block content %}
      <div class="about">
        <h2>About Me</h2>
        <p>
          Hello! I am Simerus, a passionate individual with a background in
          Software Engineering. I love working on cool things. Currently, I am working on
          enhancing my skills in Production Engineering.
        </p>
      </div>

      <div class="work-experience">
        <h2>Previous Work Experiences</h2>
        <div class="work-item">
          <h3>Software Engineer Intern</h3>
          <p><strong>Posto-social Inc.</strong></p>
          <p>Duration: Jun. 2023 - Aug. 2023</p>
          <p>Worked on an iOS social media app for a startup</p>
        </div>

        <div class="work-item">
          <h3>Software Engineer Intern</h3>
          <p><strong>Posto-social Inc.</strong></p>
          <p>Duration: Jun. 2023 - Aug. 2023</p>
          <p>Worked on an iOS social media app for a startup</p>
        </div>
      </div>

      <div class="education">
        <h2>Education</h2>
        <div class="education-item">
          <h3>Bachelor of Software Engineering</h3>
          <p><strong>Univerity of Waterloo</strong></p>
          <p>Duration: Sep. 2023 - Apr. 2028</p>
          <p>Honours program, BSE</p>
        </div>
      </div>

      <div class="map">
        <h2>Cool Locations/Countries I Visited</h2>
        <div id="map"></div>
      </div>

      <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
      <script>
        var map = L.map("map").setView([20, 0], 2);

        // Title layer
        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
          attribution:
            '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        }).addTo(map);

        L.marker([41.8781, -87.6298])
          .addTo(map)
          .bindPopup("<b>Chicago, Illinois, USA</b><br>Population: 2.7 million")
          .openPopup();

      </script>
    {% endblock %}
  </body>
</html>
